a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}
body {
  line-height: 1
}

@media {
  .featherlight {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background: #333;
    background: transparent
  }
  .featherlight:last-of-type {
    background: rgba(0, 0, 0, .8)
  }
  .featherlight:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.25em
  }
  .featherlight .featherlight-content {
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    overflow: auto;
    padding: 0;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;
    background: #fff;
    cursor: auto;
    white-space: normal
  }
  .featherlight .featherlight-inner {
    display: block;
    margin: 0 auto
  }
  .featherlight .featherlight-close-icon {
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    line-height: 25px;
    width: 25px;
    cursor: pointer;
    text-align: center;
    font-family: Arial, sans-serif;
    background: #fff;
    background: hsla(0, 0%, 100%, .3);
    color: #000
  }
  .featherlight-iframe .featherlight-content {
    border-bottom: 0;
    padding: 0
  }
  .featherlight iframe {
    border: none
  }
}
@media only screen and (max-width: 1024px) {
  .featherlight .featherlight-content {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 98%;
    padding: 0;
    border-bottom: none
  }
}
@media {
  .featherlight-next, .featherlight-previous {
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    bottom: 0;
    left: 80%;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: transparent;
    transition: .3s ease
  }
  .featherlight-previous {
    left: 0;
    right: 80%
  }
  .featherlight-next:hover,
  .featherlight-previous:hover {
    background: rgba(0, 0, 0, .8)
  }
  .featherlight-next span,
  .featherlight-previous span {
    display: none;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 82%;
    text-align: center;
    font-size: 18px;
    line-height: 80px;
    margin-top: -40px;
    color: #fff;
    font-style: normal;
    font-weight: 400
  }
  .featherlight-next {
    right: 0;
    left: 80%
  }
  .featherlight-next span {
    right: 5%;
    left: auto
  }
  .featherlight-next:hover span,
  .featherlight-previous:hover span {
    display: inline-block
  }
  .featherlight-loading .featherlight-next,
  .featherlight-loading .featherlight-previous {
    display: none
  }
}
@media only screen and (max-device-width: 1024px) {
  .featherlight-next:hover,
  .featherlight-previous:hover {
    background: none
  }
  .featherlight-next span,
  .featherlight-previous span {
    display: block
  }
}
@media only screen and (max-width: 1024px) {
  .featherlight-next,
  .featherlight-previous {
    top: 10px;
    right: 10px;
    left: 85%
  }
  .featherlight-previous {
    left: 10px;
    right: 85%
  }
  .featherlight-next span,
  .featherlight-previous span {
    margin-top: -30px;
    font-size: 40px
  }
}
@font-face {
  font-family: icomoon;
  src: url(icomoon.eot?epyps1);
  src: url(icomoon.eot?epyps1#iefix) format("embedded-opentype"), url(icomoon.ttf?epyps1) format("truetype"), url(icomoon.woff?epyps1) format("woff"), url(icomoon.svg?epyps1#icomoon) format("svg");
  font-weight: 400;
  font-style: normal
}
.reattached,
.reattached>span,
[class*=" icon-"],
[class^=icon-] {
  font-family: icomoon!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.icon-cancel-circle:before {
  content: "\e900"
}
.icon-circle-left:before {
  content: "\e901"
}
.icon-circle-right:before {
  content: "\e902"
}
body {
  font-family: Roboto, sans-serif;
}
header {
  text-align: center;
  font-size: 32px;
  font-weight: 100;
  padding: 50px 50px 0;
  margin-bottom: 30px
}
.main {
  max-width: 800px;
  margin: 10px auto;
}
footer {
  padding: 10px;
  display: block;
	text-align: center;
	margin: 3rem 0;
}

footer a {
	background: #00529c;
  padding: 10px;
  color: white;
  text-decoration: none;
}

strong {
  font-weight: 700
}
em {
  font-style: italic
}
.disclaimer {
  font-weight: 300;
  line-height: 1.5;
  background-color: #eee;
  padding: 15px 50px;
  margin-bottom: 25px;
  border-radius: 5px
}
h2 {
  line-height: 2;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase
}
h3 {
  line-height: 2;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300
}
ul {
  padding-left: 25px;
  list-style-type: disc
}
ul li {
  padding: 5px
}
.links {
	display: flex;
}
.links > div {
	width: 50%;
}


table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: .75rem;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00529c;
  color: white;
	font-size: 1.0625rem;
}

table tr:nth-child(2) th {
  background-color: #9e9e9e;
}

.featherlight-content iframe {
  overflow: hidden!important
}
.featherlight {
  z-index: 1
}
.reattached {
  position: fixed
}
.featherlight-next.reattached,
.featherlight-previous.reattached {
  z-index: 2
}
.featherlight-next.reattached:hover,
.featherlight-previous.reattached:hover {
  background-color: transparent
}
.featherlight-next.reattached span,
.featherlight-previous.reattached span {
  transition: right .3s ease, left .3s ease
}
.featherlight-previous.reattached:hover span {
  left: 0
}
.featherlight-next.reattached:hover span {
  right: 0
}
.featherlight-next.reattached span,
.featherlight-previous.reattached span {
  display: inline-block;
  color: transparent;
  font-size: 0
}
.featherlight-previous.reattached span:before {
  content: "\e901";
  color: #fff;
  font-size: 32px;
  text-shadow: 1px 1px 8px #000
}
.featherlight-next.reattached span:before {
  content: "\e902";
  color: #fff;
  font-size: 32px;
  text-shadow: 1px 1px 8px #000
}
.featherlight-close-icon.reattached {
  top: 0;
  right: 0;
  color: transparent;
  z-index: 3;
  cursor: pointer;
  font-size: 40px;
  padding: 10px;
  transition: font-size .3s ease
}
.featherlight-close-icon.reattached:before {
  content: "\e900";
  color: #fff;
  font-size: 32px;
  text-shadow: 1px 1px 8px #000;
  transition: font-size .3s ease
}
.featherlight-close-icon.reattached:hover:before {
  font-size: 30px
}
.featherlight-image {
  position: relative;
  z-index: 5
}
